*{
    z-index: 0;
    overflow: hidden;
}
.weatherText{
    z-index: 1;
    font-weight: 300;
}

.night_winter{
    background: url('./img/winter_night.jpg') center/cover;
    text-align: center;
}
.day_winter{
    background: url('./img/winter_day.jpg') center/cover;
    text-align: center;
}

.wraper{
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}