.night_winter{
    background: url('./img/winter_night.jpg') center center;
    color: white;
}
.day_winter{
    background: url('./img/winter_day.jpg') center center;
    color: black;
}
// .snow{
//     background: url('https://e7.pngegg.com/pngimages/336/340/png-clipart-snow-christmas-snow-winter-christmas-snow.png') ;
// }