@import "~bootstrap/scss/bootstrap";


html{
    overflow: hidden;
    overflow-x: hidden;
}
#root{
    height: 100vh;
    overflow: hidden;
}
.App{
    height: 100vh;
    overflow: hidden;

}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
      }
