.sun{
    background: url('./img/sun.gif') 100% center/cover;
    position: absolute;
    right: 0%;
    top: 0%;
    width: 20vw;
    height: 20vw;
    object-fit:cover;
    mix-blend-mode:screen;
    transform: rotate(45deg);
    border-radius: 50%;
}