.sun{
    background: url('./img/sunLens.jpeg') left/cover no-repeat;
    position: absolute;
    background-size: 200%;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(-1, 1);
    // object-fit:cover;
    // mix-blend-mode:screen;
    transform: translateY(0);
    // 
    animation: sunAnim 5s linear;
}
@keyframes sunAnim {
    0%{
        transform: translateY(-120%);
    }
    100%{
        transform: translateY(0);
    }
    
}